#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todo-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-header {
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.todo-item-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.todo-text {
  flex-grow: 1;
  font-size: 16px;
  color: #495057;
  font-family: "Roboto", sans-serif;
  text-align: left;
  padding-left: 10px;
}

.delete-button {
  background: none;
  border: none;
  color: #e03131;
  font-size: 25px;
  cursor: pointer;
  transition: color 0.3s;
  padding: 5px;
}

.delete-button:hover {
  color: #c92a2a;
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

.todo-input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #ced4da;
  background-color: #ffffff;
  color: #343a40;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
}

.todo-input:focus {
  border-color: #ced4da;
  outline: none;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}
